* {
    background-color: mediumseagreen;
}

img {
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
  background-color: mediumseagreen;
}
.country-name {
    border: 1px solid black;
    margin: 1em;
}
.country-image {
    border: 1px solid black;
    margin: 1em;
}
.country-tagline {
    border: 1px solid black;
    margin: 1em;
}
#logo {
  width: 80px;
  height: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 40vw;
>>>>>>> main
}
